APScheduler==3.11.0
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.5
idna==3.10
pillow==11.1.0
python-decouple==3.8
razorpay==1.4.2
requests==2.32.3
setuptools==75.8.2
sqlparse==0.5.3
tzlocal==5.3.1
urllib3==2.3.0
