{%extends 'base.html'%}
{%block main%}
<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 py-4 mx-auto">
      <div
      class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
    >
    <div class="flex items-center justify-between space-x-6">
        <div class="mt-4">
            <h2 class="font-bold font-medium text-gray-700 dark:text-gray-400">Payment Details</h2>
        </div>
      
      <div class="mt-4">
        <a href="{%url 'razorpay'%}" class="px-5 py-3 font-medium leading-5 
                          text-white transition-colors duration-150 bg-purple-600 border border-transparent
                          rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none 
                          focus:shadow-outline-purple">Pay Now</a>
      </div>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-gray-700 dark:text-gray-400">Amount:</span>
      <span class="text-gray-600">{{payment.amount}}</span>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-gray-700 dark:text-gray-400">Paid At:</span>
      <span class="text-gray-600">{{payment.paid_at|date:'d-m-y h:i:s'}}</span>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-gray-700 dark:text-gray-400">Payment Mode:</span>
      <span class="text-gray-600">Online</span>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-gray-700 dark:text-gray-400">Platform:</span>
      <span class="text-gray-600">Razorpay</span>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-gray-700 dark:text-gray-400">Order ID:</span>
      <span class="text-gray-600">{{student.join_date|date:"d-m-Y"}}</span>
    </div>
      </div>
    </div>
  </main>
{%endblock%}